.container {
    background-color: #f3f3f3;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a img {
    width: 250px;
    height: auto;
}

@media screen and (max-width: 540px){
    .container {
        width: 200px;
        height: 200px;
    }
    .container a img {
        width: 150px;;
    }
}